<form action="">
    {{name}}
    <input type="text" [(ngModel)]="name" name="name">
    {{selectedShark}}
    <select name="shark" [ngModel]="selectedShark" (ngModelChange)="onSharkSelect($event)">
        <option *ngFor="let shark of sharks" [value]="shark">{{shark}}</option>
    </select>
    <select name="state" [ngModel]="selectedState" (ngModelChange)="onStateSelect($event)">
        <option *ngFor="let state of states" [value]="state">{{state}}</option>
    </select>
    <select name="zone" [ngModel]="selectedZone" (ngModelChange)="onZoneSelect($event)">
        <option *ngFor="let zone of zones" [value]="zone">{{zone}}</option>
    </select>
</form>

<div class="bar-graph">
    <ng-container *ngFor="let report of dummyData" >
        <div [ngStyle]="{'height': calculatePercentageHeight(report.value)}"class="bar-graph__bar">
            {{report.value}}
        </div>
    </ng-container>
</div>  